@model TeamUp.Web.Models.ProjectDetailsViewModel
@{
    ViewBag.Title = "Project Details";
}

<h2>@Model.Name</h2>
<div class="row">
    <p class="text-muted">@Model.Description</p>
</div>
<div class="row">
    Created on <em>@Model.DateCreated</em>
</div>
<div class="row text-center">
    Users <em>involved</em> in this project
    @if(ViewBag.CanInvite)
    {
        @Html.ActionLink("Invite someone", "Invite", "Invite", new { projectId = Model.Id, userId = ViewBag.CurrentUserId  }, new { @class = "btn btn-success pull-right" })
    }
    <div class="row">
        @foreach (var user in Model.Users)
        {
            <div class="col-lg-4">
                @Html.ActionLink(user.Email, "Details", "Users", new { id = user.Id }, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>